.groups
  %h3 Groups
.container_group
  - current_user.groups.each do |group|
    %ul
      .show_link
        = link_to group_path(group) do
          %li= group.name
      .list_group_action
        .list_group_action_member
          %li.member
            %p :Member
          - group.users.each do |user|
            %li
              %p :
            %li
              %p= user.name
        .list_group_action_fas
          = link_to content_tag(:i, '', class: 'fas fa-trash'), group, method: :delete, data: { confirm: "#{group.name}を削除して大丈夫ですか？" }
          = link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_group_path(group))