.cardnewPgae
  - if @groupcard.errors.any?
    %p.alert タイトルは1～255文字以内で入力してください
  .container
    = form_with model: @groupcard, url: { action: :create }, html: { class: 'cardnewForm' }, local: true do |f|
      = f.hidden_field :grouplist_id, value: @grouplist.id
      .cardnewForm_title
        = f.label :title
        = f.text_field :title, autofocus: true, class: "form-control", placeholder: "カード名"
      .cardnewForm_memo
        = f.label :memo
        = f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細"
      .text-center= f.submit "作成する", class: "submitBtn"
