%h2 Log in
.container
  .items
    = link_to "Log in", new_session_path(resource_name), class: "link"
    = link_to "Sign up", new_registration_path(resource_name), class: "link"
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください"
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください"
    .form-group.text-center
      = f.submit "Sign In", class: "signin"
      = link_to 'Googleログイン', user_google_omniauth_authorize_path, class: "google"
      = link_to 'Twitterログイン', user_twitter_omniauth_authorize_path, class: "twitter"
      = link_to 'Facebookログイン', user_facebook_omniauth_authorize_path, class: "facebook"
