<div class="cardeditPgae">
      <% if @card.errors.any? %>
        <p class="alert">タイトルは1～255文字以内で入力してください</p>
      <% end %>
  <div class='container'>
    <%= form_with model: @card, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
      <div class="cardeditForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "カード名" %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control", placeholder: "詳細" %>
      </div>
      <div class="cardeditForm_status">
        <%= f.label :status, class: "cardeditForm_status_label" %>
        <%= f.select :status, Card.statuses.keys, class: "cardeditForm_status_select" %>
      </div>
      <div class="text-center"><%= f.submit "更新する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>